body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #141414;
    color: #e4e4e4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2a2a2a;
    color: #e4e4e4;
    padding: 15px 0;
    text-align: center;
    font-size: 48px;
    font-family: 'Luckiest Guy', sans-serif;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #c93030;
}
header img {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

header img:hover {
    transform: scale(1.2);
    filter: brightness(1.5);
}

h1 {
    font-family: 'Luckiest Guy', sans-serif;
    color: #f0f0f0;
    margin-top: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
}

.links-box {
    width: 30%;
    background-color: #2a2a2a;
    padding: 15px;
    border-radius: 8px;
    margin-right: 28px;
    border: 2px solid #c93030;
}

.links-box h2 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    margin: 0;
    color: #f0f0f0;
}

.links-box p {
    font-size: 16px;
    color: #e4e4e4;
    margin: 10px 0 0 0;
}

.links-box a {
    color: #e4e4e4;
    font-style: italic;
    text-decoration: none;
}

.links-box a:hover {
    text-decoration: underline;
}

.poster-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.poster {
    width: 40%;
    height: 108%;
    margin-right: 20px;
    border-radius: 8px;
    object-fit: cover;
}

.description {
    width: 60%;
    padding: 20px;
    text-align: left;
}

.platform-icons {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 10px;
}

.platform-icon {
    width: 28px;
    height: 28px;
    opacity: 0.7;
    transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
}

.platform-icon:hover {
    transform: scale(1.1);
    opacity: 1;
    filter: brightness(1.2);
}

.platform-icon[data-platform="Windows"]:hover::after {
    content: "Windows";
    position: absolute;
    bottom: 35px;
    left: 0;
    background-color: #333;
    color: white;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    width: 70px;
    text-align: center;
}

.platform-icon[data-platform="Apple"]:hover::after {
    content: "Apple";
    position: absolute;
    bottom: 35px;
    left: 0;
    background-color: #333;
    color: white;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    width: 50px;
    text-align: center;
}

.platform-icon[data-platform="Webpage"]:hover::after {
    content: "Webpage";
    position: absolute;
    bottom: 35px;
    left: 0;
    background-color: #333;
    color: white;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    width: 70px;
    text-align: center;
}

.screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.screenshot {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.screenshot:hover {
    transform: scale(1.1);
}

.yt-trailer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.yt-trailer iframe {
    width: 70%;
    border: 2px solid #c93030;
}

.right-box {
    width: 28%;
    background-color: #2a2a2a;
    padding: 15px;
    border-radius: 8px;
    margin-left: 20px;
}

.right-box p {
    color: #e4e4e4;
    font-size: 16px;
}

.platform-links {
    display: flex;
    gap: 10px;
    justify-content: start;
    margin-top: 10px;
}

.platform-links a {
    display: inline-block;
    padding: 5px;
    border-radius: 8px;
    background-color: transparent;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.platform-links a:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.platform-links img {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
}

.table-container {
    width: 100%;
    margin-top: 40px;
    border: 2px solid #c93030;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #f0f0f0;
}

th, td {
    padding: 12px;
    text-align: right;
}

th {
    background-color: #333;
}

tr:nth-child(even) {
    background-color: #2a2a2a;
}

tr:hover {
    background-color: #3a3a3a;
}

.date-box {
    width: 200%;
    background-color: #2a2a2a;
    padding: 16px;
    border-radius: 0px;
    margin-top: 10px;
    text-align: center;
    border-top: 1px solid #c93030;
    border-bottom: 1px solid #c93030;
}

.date-box p {
    color: #e4e4e4;
    font-size: 20px;
    margin: 0;
}

#mobile-popup {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 80%;
}

@media (max-width: 768px) {
    #mobile-popup {
        display: block;
    }
}
